@font-face {
    font-family: 'myFont';
    src: url("font/Poppins-Light.ttf");
    font-weight: 200;
}
@font-face {
    font-family: 'myFont';
    src: url("font/Poppins-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: 'myFont';
    src: url("font/Poppins-SemiBold.ttf");
    font-weight: 600;
}

*{
    font-family: "myfont";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 375px;
}
body {
    width: 100vw;
    min-height: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}
.container{
    margin-top: 80px;
}

.container .top-text-in-page {
    width: 540px;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    color: #4d4f62;
    margin-bottom: 50px;
}

.container .top-text-in-page h1 {
    font-weight: 200;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
}

.container .top-text-in-page h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
}
.container .top-text-in-page p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.104167px;
    opacity: 0.5;
}

.cards-original {
    width: 1100px;
    height: 530px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box-card {
    width: 350px;
    height: 246px;
    background-color: #fff;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}
.green {
    border-top: 4px solid #44d3d2;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.red {
    margin-bottom: 30px;
    border-top: 4px solid #ea5454;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.orange {
    border-top: 4px solid #fcae4a;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}
.blue {
    border-top: 4px solid #549ef2;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.box-card-div {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4d4f62;
    margin-bottom: 6px;
}
.box-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.0902778px;
    opacity: 0.5;
}

.box-card-image {
    width: 64px;
    height: 64px;
    align-self: flex-end;
}

@media only screen and (max-width: 1130px) {
    body {
        height: 100%;
    }
    .container .top-text-in-page {
        width: 310px;
    }
    .container .top-text-in-pager h1,
    .container .top-text-in-page h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .container .top-text-in-page h2 {
        font-weight: 600;
    }
    .cards-original {
        width: 375px;
        height: 1008px;
        flex-direction: column;
        justify-content: center;
    }
    .box-card {
        width: 311px;
        height: 222px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .box-card-image {
        width: 57px;
        height: 57px;
        align-self: flex-end;
    }
}